button {
    padding: 10px 20px;
    font-size: 70px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  
  #yesButton {
    background-color: green;
    color: white;
  }
  
  #noButton {
    background-color: red;
    color: white;
  }
  