.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  text-align: center;
}

.page-heading{
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-size: 150px;
  font-style: normal;
}

.button-container {
  height: 100px;
  margin:50px;
  padding: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#otherText {
  margin-top: 100px;
  text-align: center;
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

#plea {
  margin-bottom: 200px; 
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

button {
  margin: 0 30px;
  padding: 10px 20px;
  font-size: 100px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
  text-align: center;

}

#yesButton {
  background-color: #26a326;
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  cursor: url('heart.png'), auto;
}

#yesButton:hover {background-color: #3e8e41}

#yesButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#noButton {
  background-color: red;
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  cursor: url('break.png'), not-allowed;
}

#noButton:hover {background-color: #721a1a}

#noButton:active {
  background-color: #721a1a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#linkButton {
  border-radius: 4px;
  background-color: #f4511e;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.5s;
  font-family: "Crimson Text", serif;
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
  cursor: url('heart.png'), auto;
  box-shadow: none;
}

#linkButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#linkButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#linkButton:hover span {
  padding-right: 25px;
}

#linkButton:hover span:after {
  opacity: 1;
  right: 0;
}