<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Valentine's Day Site</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="home">
    {%- if page.title -%}
      <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}
    <p id="plea">Please click yes to show your love to me! Please do NOT click no! Don't click no! Please!</p>
    <button id="yesButton">Yes</button>
    <button id="noButton">No</button>
  </div>
  <script src="script.js" defer></script>
</body>
</html>
