<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Valentine's Day Site</title>


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Great+Vibes&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="style.css">
  
</head>
<body>
  <div class="wrapper">
    <h1 class="page-heading">Will you be my Valentine?</h1>
    <p id="plea">Please click Yes! Please do NOT click no! Please?</p>
  </div>
  <div class="button-container">
    <button id="yesButton">Yes</button>
    <button id="noButton">No</button>
  </div>
  <p id ="otherText">Created by Liam Tolbert</p>
  <div class="button-container">
    <button id="linkButton"><span>My love letter</span></button>
    <iframe id="video" width="560" height="315" src="https://www.youtube.com/embed/EZ5SwfAqkVg?si=lTFuwT7wyd6nGOQq&amp;start=14" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <script src="script.js" defer></script>
</body>
</html>
